@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased relative h-full min-h-screen w-full bg-white dark:bg-[#0E1117] text-slate-500 overflow-x-hidden dark:text-slate-300;
  }

  p > b {
    @apply text-black dark:text-white;
  }

  html.dark {
    color-scheme: dark;
  }

  html.dark .theme-icon-dark,
  .theme-icon-light {
    @apply block;
  }

  html.dark .theme-icon-light,
  .theme-icon-dark {
    @apply hidden;
  }

  .prose :where(ul > li):not(:where([class~='not-prose'] *))::marker {
    @apply dark:text-slate-600 !important;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
